@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply bg-black text-white box-border
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(57, 138, 57);
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c017a4;
}